<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<style>
    .thumb-image {
        height: 100px;
        width: auto;
        border: 1px solid lightgray;
    }

    #upload {
        border: 1px solid #cfcfcf;
        width: 90%;
        height: 40px;
        padding: 4px 0px;
        color: #939393;
        border-radius: 8px;
    }

    dialog {
        border: 1px solid #b7b7b7;
        border-radius: 20px;
        box-shadow: -1px 4px 19px 0px;
        width: 60%;
    }

        dialog .table_Title {
            font-size: 21px;
            font-family: cursive;
            color: #939393;
        }

        dialog #close {
            float: right;
            margin-top: -50px;
        }

    #image-holder-1 {
        width: 90%;
        margin-top: 7px;
        height: 164px;
    }

        #image-holder-1 ul li p {
            white-space: nowrap;
            width: 180px;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0px
        }
</style>

<!--Add Data Simple pop-up dialog box, containing a form -->
<dialog id="favDialog">
    <p class="table_Title">New Customer Add</p>
    <button id="close" aria-label="close" class="btn btn-light" formnovalidate> X</button>
    <hr />
    <form asp-action="Create" enctype="multipart/form-data" method="post" id="form">
        <div class="row">
            <div class="col-6">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" aria-describedby="NameHelp" placeholder="Enter Name" name="FullName" id="fulName" required>

                    </div>

                    <div class="form-group">
                        <label for="exampleInputDescription">Description</label>
                        <textarea class="form-control" placeholder="Enter Description" rows="4" cols="4" name="Description" id="descrption" required></textarea>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mt-3">
                    <label style="display:block">Files</label>
                    <input type="file" id="upload" accept="application/pdf,image/*" name="file" required>
                    <div id="image-holder" class="list-group"></div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="reset">Reset</button>
            <button type="button" class="btn btn-secondary" id="closeButton">Temporary Close</button>
            <input type="submit" value="Save changes" class="btn btn-success" />
        </div>
    </form>

</dialog>

<script>

    function readURL(input, imgno) {
        console.log(imgno)
        let file = input.files[0];

        var reader = new FileReader();

        reader.onload = function (e) {

            let src = file.type.startsWith("image") ? e.target.result : defaultImage;
            let size = (file.size / 1024).toFixed(0);
            let date = new Date(file.lastModified).toLocaleDateString();

            $("#image-holder").append(`
                              <div id="image-holder-${imgno}" class="list-group-item">
                            <div class="row">
                              <div class="col-3">
                                <img src="${src}" class="thumb-image">
                              </div
                              <div class="col">
                                <ul style="font-size:small">
                                      <li>Filename:<p> ${file.name}</p></li>
                                  <li>Type: ${file.type}</li>
                                  <li>Size: ${size} kb</li>
                                  <li>Date: ${date}</li>
                                   <li><button id="deleteImgFunction"  class="btn btn-danger mt-1">Remove</button></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        `);
            //In Modal windows, tis function  file for deleting , in this moment  current file
            $('#deleteImgFunction').on('click', function (e) {
                let $el = $('#image-holder-1');
                $el.wrap('<img>').closest(
                    'img').get(0).remove();

                document.getElementById("upload").value = '';
            });
        }
        reader.readAsDataURL(file);
    }

    let defaultImage = "https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/833px-PDF_file_icon.svg.png";


    upload.addEventListener("change", function (e) {
        console.log(e)
        readURL(this, 1);
    });

</script>

<script>

    let Reset = document.getElementById("reset")
    let name = document.getElementById("fulName")
    let des = document.getElementById("descrption")
    let chooseFile = document.getElementById("upload")
    let hedClose = document.getElementById("close")


    Reset.addEventListener("click", () => {

        name.value = '';
        des.value = '';
        chooseFile.value = '';

        let $el = $('#image-holder-1');
        $el.wrap('<img>').closest(
            'img').get(0).remove();
    });

    hedClose.addEventListener("click", () => {

        name.value = '';
        des.value = '';
        chooseFile.value = '';

        let $el = $('#image-holder-1');
        $el.wrap('<img>').closest(
            'img').get(0).remove();
    });
</script>
